body{
    background-color: rgb(221, 150, 189);
    font-family:  Roboto,sans-serif;
}
.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px rgba(65,50,100,0.08);
    border-radius: 16px;
    padding: 30px;
    
}
header{
    border-bottom: #f9f7fe;
    padding: 0 0 30px 0;
}
.search-form-input{
    background-color: #f9f7fe;
    border: none;
    border-radius:6px;
    width: 80%;
    padding:15px 20px;

}
.search-form-button{
    background: rgba(156, 18, 156, 0.562);
    padding: 15px  20px;
    border: none;
    margin-left:5px ;
    font-size:16px;
    color: white;

}
a{
    color: purple;
}
.weather-app-data{
    display: flex;
    justify-content: space-between;

}
.weather-app-city{
    margin:0;
    font-size: 38px;
    line-height: 48px;

}
.weather-app-details{
    font-size: 16px;
    line-height: 20px;
    color:rgba(39,33,66,0,4);
    font-weight: 500px;


}
.weather-app-details strong{
    color: #ee0a4e

}
.weather-app-icon {
    font-size:44px;
    margin-top:22px ; 
}
main{
     padding-top:20PX ;
}

footer{
    border-top: #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0,6);
}
.weather-app-temperature-container{
    display: flex;

}
.weather-app-temperature{
    font-size:88px ;
    margin-left:10px ;
    margin:bold ;
}
.weather-app-unit{
    margin-top: 18px;
    font-size: 28px;
}
